// import external libraries
@import "bootstrap";
@import "font-awesome";

html {
  padding: 0;
  margin: 0;
  background-color: #263238;
}

.pan {
  background-color: #263238;
}

.line {
  color: #fafafa;
}
