// import external libraries
//@import "bootstrap";
@import "font-awesome";

html, body {
  padding: 0;
  margin: 0;
  background-color: #263238;
  width: 100%;
  height: 100%;
}

.application {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.pan {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #263238;
}

.line {
  color: #fafafa;
  width: 16px;
  line-height: 16px;
}

.layer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  pointer-events: none;
}

.code-layer {
  font-family: monospace;
}

.cursor-layer {
  z-index: 4
}

.selection-layer {
  z-index: 4;
}

.cursor {
  width: 7.20125px;
  height: 16px;
  position: absolute;
  border-left: 2px solid;
  border-color: green;
}

.selection {
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
}

.measure {
  position: absolute;
  left: -100px;
  padding: 0;
}